@media (max-width: 991px) {
    html{
        font-size: 55%;
    }

    .header .header1 {
        padding: 2rem;
    }
    section {
        padding: 3rem 2rem;
    }

}

@media (max-width: 768px) {
    html {
        scroll-padding-top: 0;
    }

    bady {
        padding-bottom: 6rem;
        height: 80px;
    }

    .header .header2 {
        display: none;
    }

    #search-btn {
        display: inline-block;
    }

    .header .header1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header1 .search-form {
        position: absolute;
        top:-115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header1 .search-form.active {
        top: 115%;
    }

}

