@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;300;400;700&display=swap");

:root {
  --blue: #55acc7;
  --black: #000;
  --green: #9ecf4f;
  --grey: #f1f2f3;
  --white: #fff;
  --orange: #f89722;
  --purple: #901263;
  --yellow: #dfe32e;
  --light-color: #667;
  --grey-dark: #444;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --fefe: #fefefe;
  --foda: #fdfdfd;
  --dark-purple: #761554;
}
* {
  font-family: "Poppins", "Lexend", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
  background: var(--foda);
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 0.4rem;
}
section {
  padding: 5rem 9%;
}
.heading {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}
.heading::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 0.01rem;
  background: rgba(0, 0, 0, 0);
  z-index: -1;
}
.heading span {
  font-size: 3rem;
  padding: 0.5rem 2rem;
  color: var(--black);
  background: #fff;
  border: var(--border);
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--purple);
  font-size: 1.7rem;
  font-weight: 500;
}

.btn:hover {
  background: var(--dark-purple);
}
